[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://github.com/ARM-software/arm-trusted-firmware.git
[submodule "--force"]
	path = u-boot
	url = https://github.com/u-boot/u-boot.git
