name: build
on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Login to ghcr.io
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1
      - name: Build
        uses: docker/build-push-action@v6.18.0
        with:
          push: false
          target: u-boot
          outputs: |
            type=local,dest=./build/
          cache-from: |
            ghcr.io/tosainu/nanopi-r4s-u-boot/base:latest
          cache-to: |
            ${{ (github.ref == 'refs/heads/main' && 'ghcr.io/tosainu/nanopi-r4s-u-boot/base:latest') || '' }}
      - name: Upload the artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: build
          path: ./build/u-boot-rockchip.bin
